

<header>
    <nav>  

    <div class="nav-bar">
            <div class="leftSection">
                <h1> <span id="element"></span></h1>
            </div>
            <div class="rightSection">
                <ul>
                
                    <li> <a href="/home">Home</a></li>
                    <li> <a href="/sign-up">Signup</a></li>
                    <li>About</li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
