<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <link rel="stylesheet" href="/static/quiz.css">

</head>
<body>  
  <div class="body">
  <div class="centre">
    <div id="box">
      <h2 id="quesBox"> </h2>
      <div class="row">
        <input class="options" id="option1" type="radio" value="a" name="option"> 
        <label for="option1" class="
        style">Option 1</label> 
      </div>
      <div class="row">
        <input class="options" id="option2" type="radio" value="b" name="option"> 
        <label for="option2" class="
        style">Option 2</label>
      </div>
      <div class="row">
        <input class="options" id="option3" type="radio" value="c" name="option"> 
        <label for="option3" class="
        style">Option 3</label>
      </div>
      <div class="row">
        <input class="options" id="option4" type="radio" value="d" name="option"> 
        <label for="option4" class="
        style">Option 4</label>
      </div>
      <button class="btn" onclick="submitQuiz()">
        Submit
      </button>
    </div>
    <p id="countdown"></p>
  </div>
  </div>
  


  <script src="/static/quizz.js"></script>
</body>
</html>