<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/static/index1.css">

<body>
    <div class="container">
        <div class="container1">
            <form action="" method="post">
                {% csrf_token %}
                <div class="heading">Signup</div>
                <ul>
                    <li><label for="">Username:</label>
                        <input type="text" class="input" name="username">
                    </li>
                        
                    <li><label for="">Firstname:</label>
                        <input type="text" class="input" placeholder="Enter your name" name="fname">
                    </li>
                    <li><label for="">Lastname:</label>
                        <input type="text" class="input" placeholder="Enter your Surname" name="lname">
                    </li>
                    <li><label for="">Emailid      :  </label>
                        <input type="email" class="input" placeholder="Enter your Email-id" name="email">
                    </li>
                    <li><label for="">Password:</label>
                        <input type="password" class="input" name="pass">
                    </li>
                    <li><button type="submit" name="submit">Submit</button></li>

                </ul>
            </form>
        </div>
        <div class="container2"></div>
    </div>
</body>

</html>